.about {
    position: absolute;
    top: 840px;
    width: 100%;
    padding-left: 165px;
    display: flex;

    &__wrapper {
        margin-left: 34px;
        width: 350px;

        &__line {
            background-color: $primary-color-dark-gray-blue;
            width: 350px;
            opacity: 0.15;
        }

        &__title {
            padding-top: 50px;
            @include text($main-font-family-title, 40px, 700, $primary-color-dark-gray-blue, 1, 42px, 350px, 42px);
        }

        &__text {
            margin-top: 70px;
            margin-bottom: 50px;
            @include text($main-font-family-text, 16px, 400, $primary-color-dark-gray-blue, 0.8, 30px, 350px, 360px);
        }

        &__btn {
            @include button (none, $primary-color-dark-gray-blue, $main-font-family-text, 134px, 14px, #fff, 17px 32px, 1px solid #000, 12px, 400);

            &:hover {
                background-color: $primary-color-dark-gray-blue;
                color: $secondary-color-very-light-gray;
            }

            &:active {
                background-color: #fff;
                color: $primary-color-dark-gray-blue;
                border: 2px solid $secondary-color-light-gray;
            }
        }

        &_line {
            margin-top: 50px;
            background-color: $primary-color-dark-gray-blue;
            width: 350px;
            height: 1px;
            opacity: 0.15;
        }
    }
}

@media only screen and (max-width:"768px"){
    .about {
        position: absolute;
        top: 840px;
        width: 100%;
        padding-left: 39px;
        display: flex;
    
        &__wrapper {
            margin-left: 34px;
            width: 339px;
    
            &__line {
                background-color: $primary-color-dark-gray-blue;
                width: 339px;
                opacity: 0.15;
            }
    
            &__title {
                padding-top: 50px;
                @include text($main-font-family-title, 40px, 700, $primary-color-dark-gray-blue, 1, 42px, 350px, 42px);
            }
    
            &__text {
                margin-top: 70px;
                margin-bottom: 50px;
                @include text($main-font-family-text, 16px, 400, $primary-color-dark-gray-blue, 0.8, 30px, 339px, 360px);
            }
    
            &__btn {
                @include button (none, $primary-color-dark-gray-blue, $main-font-family-text, 134px, 14px, #fff, 17px 32px, 1px solid #000, 12px, 400);
    
                &:hover {
                    background-color: $primary-color-dark-gray-blue;
                    color: $secondary-color-very-light-gray;
                }
    
                &:active {
                    background-color: #fff;
                    color: $primary-color-dark-gray-blue;
                    border: 2px solid $secondary-color-light-gray;
                }
            }
    
            &_line {
                margin-top: 50px;
                background-color: $primary-color-dark-gray-blue;
                width: 339px;
                height: 1px;
                opacity: 0.15;
            }
        }
    }
}

@media only screen and (max-width:"376px"){
    .about {
        position: absolute;
        top: 840px;
        width: 100%;
        padding-left: 32px;
        display: flex;
        flex-direction: column;
    
        &__wrapper {
            margin-top: 32px;
            margin-bottom: 115px;
            margin-left: 0px;
            width: 311px;
    
            &__line {
                background-color: $primary-color-dark-gray-blue;
                width: 311px;
                opacity: 0.15;
            }
    
            &__title {
                padding-top: 32px;
                @include text($main-font-family-title, 40px, 700, $primary-color-dark-gray-blue, 1, 42px, 350px, 42px);
            }
    
            &__text {
                margin-top: 58px;
                margin-bottom: 50px;
                @include text($main-font-family-text, 16px, 400, $primary-color-dark-gray-blue, 0.8, 30px, 311px, 390px);
            }
    
            
    
            &_line {
                margin-top: 50px;
                background-color: $primary-color-dark-gray-blue;
                width: 311px;
                height: 1px;
                opacity: 0.15;
            }
        }
    }
}