.interest {
    width: 100%;
    position: absolute;
    top: 2580px;
    left: 165px;

    &__wrapper {
        width: 100%;
        height: 314px;
        display: flex;
        flex-direction: row;

        &__title {
            @include text($main-font-family-title, 40px, 700, $primary-color-dark-gray-blue, 1, 42px, 350px, 84px);
        }

        &__line {
            margin-top: 50px;
            width: 534px;
            margin-right: 32px;
            margin-left: 32px;
            opacity: 0.15;
            height: 1px;
            background-color: $primary-color-dark-gray-blue;
        }

        &__btn {
            margin-top: 30px;
            text-align: center;
            @include button (none, $primary-color-dark-gray-blue, $main-font-family-text, 162px, 48px, #fff, 17px 0px 17px 0px, 1px solid #000, 12px, 400);

            &:hover {
                background-color: $primary-color-dark-gray-blue;
                color: $secondary-color-very-light-gray;
            }

            &:active {
                background-color: #fff;
                color: $primary-color-dark-gray-blue;
                border: 2px solid $secondary-color-light-gray;
            }
        }
    }
}

@media only screen and (max-width:"768px"){
    .interest {
        width: 768px;
        position: absolute;
        top: 2198px;
        left: 39px;
    
        &__wrapper {
            width: 100%;
            height: 314px;
            display: flex;
            flex-direction: row;

    
            &__line {
                margin-top: 50px;
                width: 113px;
                margin-right: 32px;
                margin-left: 32px;
                height: 1px;
                opacity: 0.15;
                background-color: $primary-color-dark-gray-blue;
            }
        }
    }
}

@media only screen and (max-width:"376px"){
    .interest {
        width: 375px;
        position: absolute;
        top: 3022px;
        left: 32px;
        text-align: center;
    
        &__wrapper {            
            width: 100%;
            height: 314px;
            display: flex;
            flex-direction: column;
            &__title{
                margin-left: -18px;
            }
            &__btn{
                margin-left: 75px;
            }
            &__line {
                display: none;
            }
        }
    }
}