.intro{
    color: $primary-color-dark-gray-blue;
    position: absolute;
    background-image: url(../../images/intro-bg.png);
    top: 150px;
    left: 165px;
    background-size: contain;
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    &__wrapper{
        margin-top: 243px;
        width: 445px;
        height: 357px;
        background-color: $secondary-color-very-light-gray;
    }
    &__title{
        padding: 45px 55px 95px 0px;
        @include text($main-font-family-title, 50px, 700, $primary-color-dark-gray-blue, 1, 50px, 390px, 320px);
        
    }
    &__btn{        
        @include button(none, #fff, $main-font-family-text, 200px, 48px, $primary-color-dark, 17px 25px, 0);
    }
    
}